/*
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#controls {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#searchBox {
  flex: 1;
  padding: 5px;
}

#scrollablePanel {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  width: 50%;
  border: 1px solid #ccc;
  padding: 0;
}
*/

body { font-size: 0.9em; }

#mediaTableBody {
  gap: 5px;
  padding: 10px;
}

.media-file {
  background-color: #d4edda;
  padding: 10px;
  border: 1px solid #888;
  gap: 5px;
}

.media-preview {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.media-info {
  font-size: 12px;
  color: #555;
}

.caption-text {
  width: 100%;
  height: 60px;
  resize: none;
  background-color: #fff;
}

.dirty-caption {
  background-color: #f8d7da !important;
}

.media-buttons button {
  width: max-content;
  margin:auto;
  padding-top: 6px;
}

.copying-text-from {
  background-color: lightgoldenrodyellow;
}


#ai-caption-row, .ai-enabled-dependent, .ai-preview-dependent, #preferences-ai-captionbox-separator { display:none; }
#progress-container { display:none; }
#auto-captions-left, #auto-captions-right { float:right; }
.name-text { display:none; width:100%; }

.media-btn-container button { width: max-content; }
img.svgrepro-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  filter: invert(100%); /* invert color from black to white */
}
img.change-direction { transform: rotate(180deg); }
img.svgrepro-icon.bigger { width: 18px; height: 18px; }

.modal .content .row { margin:10px 0; }
.info-below { margin-top:-5px ; font-size: 0.8em; color: #666; }
#ai-caption-row select + button { margin-top:0px; }
#ai-caption-row select + label { margin-top:5px; }

/* table { display:initial; } */ /* override mini CSS */

/* .top-controls input { width:100%; font-size:small; }

@media screen and (min-width: 320px) { .card { max-width:500px; } }
[type="checkbox"].modal+div .card { max-height:60vh; } */